body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    text-decoration: none;
}

.section-one {
    background-color: #1F2937;
    color: #fff;
    padding: 15px 200px 100px 200px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    gap: 25px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.hero-part {
    display: flex;
    gap: 200px;
}

.hero-sub,
a {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.button-hero {
    margin-top: 15px;
    background-color: #3882F6;
    padding: 5px 30px;
    border-radius: 7px;
    color: #fff;
    border: 0;
}

.section-two {
    display: flex;
    flex-direction: column;
    padding: 50px 0 100px 0;
    align-items: center;
}

.header-info {
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937
}

.img-section {
    display: flex;
    gap: 25px;
}

.img-and-text {
    width: 180px;
}

.img-subtext {
    text-align: center;
    padding-top: 10px;
    color: #444;
}

.small-image {
    height: 180px;
    border: #3882F6 4px solid;
    border-radius: 18px;
}